<div class="received-bits">
  <div class="received-bits__filters">ФИЛЬТРЫ</div>

  <!--  PEPEGA: {{ soulItems$ | async }}-->

  <div class="received-bits__list">
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
    <sw-bit></sw-bit>
  </div>
</div>
