.received-bits {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__filters {
    padding: 8px 16px;
    border: 1px solid black;
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.bit {
  width: 240px;
}
