.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff5f2;
  position: relative;
  z-index: 1;
  height: 100vh;

  &::before {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    content: "";
    background: url("https://img3.goodfon.ru/wallpaper/nbig/e/5a/sfera-abstrakciya-geometriya.jpg")
      center no-repeat;
    background-size: cover;
    z-index: 0;
  }

  &__header {
    flex: 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: rgba(41, 41, 44, 0.9);
  }

  &__content-wrapper {
    padding: 24px 0 60px 0;
    display: flex;
    justify-content: center;
    margin-top: 64px;
    height: calc(100vh - 64px);
    width: 1600px;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    flex: 1 1 1600px;
    max-width: 1600px;
    position: relative;
  }

  &__soul {
    width: 500px;
    max-width: 500px;
    background: rgba(248, 247, 247, 0.9);
    border-radius: 0.75rem;
    padding: 16px;
    box-sizing: border-box;
  }

  &__tabs {
    flex: 1 1;
    height: 100%;
    background: rgb(248, 247, 247, 0.9);
    border-radius: 0.75rem;
    padding: 0 16px;
  }
}

.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--sw-divider);
  height: 64px;

  &__content {
    display: flex;
    align-items: center;
    width: 1600px;
    max-width: 1600px;
    gap: 32px;
  }

  padding: 10px 24px;

  &__logo {
    padding: 10px;
    border: 2px solid var(--sw-primary);
    font-size: 22px;
    display: inline-block;
    color: white;
  }

  &__section {
    &_left {
      flex: 1 1;
    }

    &_right {
      flex: 2 2;
      display: flex;
      gap: 16px;
      justify-content: space-between;
    }
  }

  &__search {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__search-field {
    width: 420px;
  }

  &__my-wallet {
    font-size: 14px;
    display: flex;
    flex-direction: column;

    color: var(--sw-primary);

    span:last-child {
      border-top: 2px solid var(--sw-primary);
      align-self: flex-end;
      padding-left: 16px;
      font-size: 12px;
      color: white;
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background: var(--sw-secondary-text);
  background: url("https://images.wallpaperscraft.ru/image/single/ulitsa_luzha_otrazhenie_200395_1920x1080.jpg")
    center no-repeat;
  background-size: cover;
  span {
    font-size: 72px;
    line-height: 72px;

    padding: 8px 16px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--sw-base-white);
    background: var(--sw-accent);
  }
}
