<tui-loader
  *tuiLet="bit$ | async as bit"
  [inheritColor]="true"
  [overlay]="true"
  [showLoader]="!bit"
>
  <div class="bit" [class.tui-skeleton]="!bit">
    <img class="bit__image" [src]="getBitImageUrl(bit)" />

    <tui-island
      class="bit__address"
      size="s"
      *tuiLet="bitSender$ | async as bitSender"
      [class.tui-skeleton]="!bitSender"
    >
      <tui-line-clamp [content]="address" [linesLimit]="1"></tui-line-clamp>

      <ng-template #address>
        <div class="hint no-wrap">
          {{ bitSender }}
        </div>
      </ng-template>
    </tui-island>

    <div class="bit__params">
      <sw-bit-param
        *ngFor="let param of bit?.attributes"
        [name]="param.trait_type"
        [value]="param.value"
      ></sw-bit-param>
    </div>
  </div>
</tui-loader>
