<div class="bit">
  <img
    class="bit__image"
    src="https://w7.pngwing.com/pngs/253/47/png-transparent-crystal-symmetry-drawing-plating-crystal-poster-miscellaneous-purple-symmetry-thumbnail.png"
  />

  <div class="bit__address">0x0b1232312321F</div>
  <div class="bit__params">
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
  </div>
</div>
