.bit {
  display: flex;
  flex-direction: column;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border: 2px solid var(--sw-primary);

  &__image {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__address {
    padding: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    background: var(--sw-primary);
  }

  &__params {
    min-height: 156px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
  }
}
