<tui-loader
  *tuiLet="bit$ | async as bit"
  [inheritColor]="true"
  [overlay]="true"
  [showLoader]="!bit"
>
  <div class="bit" [class.tui-skeleton]="!bit">
    <!--     // todo разобраться картинкой-->
    <img
      class="bit__image"
      src="https://w7.pngwing.com/pngs/253/47/png-transparent-crystal-symmetry-drawing-plating-crystal-poster-miscellaneous-purple-symmetry-thumbnail.png"
    />

    <div
      class="bit__address"
      *tuiLet="bitSender$ | async as bitSender"
      [class.tui-skeleton]="!bitSender"
    >
      {{ bitSender }}
    </div>
    <div class="bit__params">
      <sw-bit-param
        *ngFor="let param of bit?.attributes"
        [name]="param.trait_type"
        [value]="param.value"
      ></sw-bit-param>
    </div>
  </div>
</tui-loader>
