.tabs {
  padding: 8px 0;

  &__header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      height: 1px;
      width: 100%;
      background: rgba(190, 189, 189, 0.58);
      z-index: -1;
    }

    tui-tabs {
      flex: 1 1;
    }

    //border-bottom: 1px solid red;
  }

  &__tab {
    font-weight: 600;
    padding: 0 4px;
  }

  &__content {
    padding-top: 16px;
  }
}
