<div class="tabs">
  <div class="tabs__header">
    <tui-tabs [(activeItemIndex)]="activeItemIndex" [underline]="true">
      <button tuiTab class="tabs__tab">
        Received
        <tui-badge
          class="tui-space_left-2"
          status="info"
          [value]="receivedQuantity$ | async"
          size="xs"
        ></tui-badge>
      </button>
      <button tuiTab class="tabs__tab">
        Send
        <tui-badge
          class="tui-space_left-2"
          status="info"
          [value]="sendQuantity$ | async"
          size="xs"
        ></tui-badge>
      </button>
    </tui-tabs>

    <button
      tuiButton
      type="button"
      size="m"
      iconRight="tuiIconRedoLarge"
      appearance="accent"
      (click)="sendBits()"
    >
      Send bits
    </button>
  </div>

  <div class="tabs__content">
    <sw-received-bits *ngIf="activeItemIndex === 0"></sw-received-bits>
    <sw-sent-bits *ngIf="activeItemIndex === 1"></sw-sent-bits>
  </div>
</div>
