PEPEGA отлдка души: {{ soul$ | async }}

<div class="soul">
  <img
    class="soul__img"
    src="https://cs13.pikabu.ru/post_img/big/2021/02/22/8/1613998559190017080.jpg"
    alt=""
  />

  <div class="soul__params">
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
  </div>
  <div class="soul__senders">
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
    <sw-bit-param name="field1" value="value1"></sw-bit-param>
  </div>
</div>
